@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:"Kanit", sans-serif ;
    z-index: 3;
}

body{
    background-image:
    linear-gradient(to bottom, rgba(10, 10, 10, 0.84), rgba(36, 36, 36, 0.84)),
    url('img/bgimg.png');
    width: auto;
    height: 1000px;
    background-size: cover;
    color: rgb(27, 27, 27);
    padding: 20px;
    z-index: 1;
}

.LogInHolder{
    position: absolute;
    left: 25%;
    top: 25%;
}

.LogInLogo{
   padding-top: 10%;
   z-index: 2;
}

h1{
    color: (rgb(137, 137, 137));
}
h2{
    color: (rgb(137, 137, 137));
}
h3{
    color: (rgb(137, 137, 137));
}