@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
height: 100vh;
justify-content: center;
align-items: center;
background-color: #2E2E2E;
}

.NavContainAMZN{
    background-color: rgba(40, 40, 40, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80px;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 20px 0px;
}

.NavItem{
    height: auto;
    list-style: none;
}

.LogInBtn{
    height: auto;
    list-style: none;
}

.Btn{
    display: flex;
    height: 0%;
}

.navbarlinks{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 0 1rem;
    margin: auto; 
    height: 30px;
    font-family: 'Kanit', sans-serif;
}

.navbarlinks:hover{
    color: #ff9a00;
    transition: all ease-in-out 0.2s;
}

#PRIME{
    color: #fff;
    font-weight: 600;   
}

#PRIME:hover {
    color: #e91efc;
    transition: all ease-in-out 0.2s;
}

.AMZNGAMESNAVLIST {
    display: flex;
}

.AMZNGAMESNAV {
    min-height: 100px;
    max-width: 4000px;
    min-width: 500px;
    margin: 0 auto;
    padding: 0 auto;
}

.AMZNLogo {
    margin-left: 30px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center ;
}

p{
    font-family: "Kanit", sans-serif;
}

.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    background-color: #2E2E2E;

}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;

}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 4px;
}
.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .slide .info img{
size: 1.5rem;
}
