@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
height: 100vh;
justify-content: center;
align-items: center;
background-color: #2E2E2E;
}

.NavContainAMZN{
    background-color: rgba(40, 40, 40, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80px;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 20px 0px;
}

.NavItem{
    height: auto;
    list-style: none;
}

.LogInBtn{
    height: auto;
    list-style: none;
}

.Btn{
    display: flex;
    height: 0%;
}

.navbarlinks{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 0 1rem;
    margin: auto; 
    height: 30px;
    font-family: 'Kanit', sans-serif;
}

.navbarlinks:hover{
    color: #ff9a00;
    transition: all ease-in-out 0.2s;
}

#PRIME{
    color: #fff;
    font-weight: 600;   
}

#PRIME:hover {
    color: #e91efc;
    transition: all ease-in-out 0.2s;
}

.AMZNGAMESNAVLIST {
    display: flex;
}

.AMZNGAMESNAV {
    min-height: 100px;
    max-width: 4000px;
    min-width: 500px;
    margin: 0 auto;
    padding: 0 auto;
}

.AMZNLogo {
    margin-left: 30px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center ;
}

p{
    font-family: "Kanit", sans-serif;
}

.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    background-color: #2E2E2E;

}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;

}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 4px;
}
.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.img-slider .slide .info img{
size: 1.5rem;
}
@media screen and (max-width: 960px) {
    .AMZNGAMESNAV{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        max-width: 1300px;
        padding: 0;
    }
    .NavContainAMZN{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: 1;
        background: rgba(40, 40, 40, 0.9);
        
    
    }
    .NavContainAMZN.active{
        background: rgba(40, 40, 40, 0.9);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        font-size: 1.6rem;
    }


    .navbar__toggle .bar{
        width:25px;
        height:3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .NavItem {
        width: 100%;
    }

    .navbarlinks {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .LogInBtn{
        padding-bottom: 2rem; 
    }

    .Btn{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 80%;
        height: 80px;
        margin: 0;
    }    

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0%;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg)
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
